/* Global Styles */
body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #333;
    background-color: #f5f5f5;
}


.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}

.btn {
    color: white;
    border-color: white;
}

.navigation {
    margin-left: 20px;
}

.search {
    margin-left: auto;
}

/* Header and Footer Styles */
header {
    background-color: #8b8b8b;
    color: white;
    height: auto;
    padding: 10px 0;
}

footer {
    background-color: #2c3e50;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: auto; /* Sticky footer */
}

.social img {
    width: 30px;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.social img:hover {
    transform: scale(1.2);
}

.navbar-brand span {
    font-size: 30px; /* Adjusted font size */
    font-weight: normal; /* Bold text */
}

.logo {
    width: 160px;
    margin-right: 5px;
    margin-top: -40px;
    margin-bottom: -40px;
}

@media (max-width: 767.98px) {
    .logo {
        width: 40%; /* Make logo width full width on smaller screens */
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 0; /* Reset margin-right */
    }
}


@media (max-width: 767.98px) {
    .navbar-brand span {
        font-size: 18px; /* Adjust font size for mobile */
    }
}

/* Custom CSS */
.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-nav .nav-link {
    padding: 0 10px;
}

/* Index.html Styles */
.featured {
    position: relative;
    margin-bottom: 50px;
}

.carousel-inner {
    max-height: 400px;
}

.carousel-item img {
    max-height: 400px;
    object-fit: cover;
}

.carousel-indicators li {
    background-color: #2c3e50;
}

.carousel-caption {
    background-color: rgba(44, 62, 80, 0.8);
    padding: 10px;
    border-radius: 5px;
}

.about {
    background-color: #ecf0f1;
    padding: 40px 20px;
    border-radius: 5px;
    text-align: center;
}

.btn-primary {
    border-radius: 15px;
    background-color: #2c3e50;
    border-color: #2c3e50;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #1a252f;
    border-color: #151e27;
}

/* Products.html Styles */
.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

/* Contact.html Styles */
.contact form {
    max-width: 500px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact form label {
    display: block;
    margin-bottom: 10px;
}

.contact form input[type="text"],
.contact form input[type="email"],
.contact form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.contact form .form-control:focus {
    border-color: #2c3e50;
    box-shadow: 0 0 0 0.2rem rgba(44, 62, 80, 0.25);
    
}

.contact form button {
    padding: 7px 15px;
    background-color: #2c3e50;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.contact form button:hover {
    background-color: #1a252f;
    border-color: #151e27;
}
